<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body { padding-top:50px; }
    </style>
</head>
<body class="container">


    <main style="display: flex; justify-content: center; align-items: center;">
        <div class="jumbotron">
            <h1><%= name %></h1>
            <div class="card" style="width: 18rem; margin: 0 auto;">
                <img src="<%= imageurl %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= name %></h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <b>flavour </b>: <%= flavour %></li>
                        <li class="list-group-item"><b>Strength </b>: <%= strength %></li>
                        <li class="list-group-item"><b>size </b> <%= size %></li>

                </div>
                <div class="card-body" style="text-align: center;">
                    <a href="/coffee" class="card-link">Home</a>

                </div>
            </div>
        </div>
    </main>
<footer>
</footer>
</body>
</html>
